{% extends 'admin_home.html' %}
{% block dashboard %}
    <style>


        .main-content {
            flex: 1;
            padding: 20px;
        }

        .dashboard-heading {
            text-align: center;
            color: #fff;
            margin-bottom: 30px;
        }

        .dashboard-item {
            margin-bottom: 20px;
        }

        .dashboard-item a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 5px;
        }

        .dashboard-item a:hover {
            background-color: #495057;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            width:600px;
        }

        .card-header {
            background-color: black;
            color: #fff;
            border-radius: 10px 10px 0 0;
        }

        .card-body {
            padding: 30px;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: black;
            border: none;
        }

        .btn-primary:hover {
            background-color: green;
        }
    </style>

    <!-- Main Content -->
        <div class="container mt-5" >
            <div class="card border border-dark">
                <div class="card-header text-center">
                    <h4>Change Password</h4>
                </div>
                <div class="card-body">


                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="current_password">
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    
{% endblock %}